.header-container{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: aliceblue;
    padding:10px;
}
.list-container{
    background-color: rgb(223, 197, 197);
    padding:10px;
}
.list-items-container{
    display:flex;
    list-style-type: none;
    color:black;
    align-items: center;
    justify-content: center;

}
.list-item{
    margin-right:60px;
}